html{
  font-size: 15px;
}

body{
  background: black;
  font-family: 'Slabo 27px', serif;
  background: url("http://www.themesltd.com/headers2/rock_paper_scissors.png");
}

h1 , p {
  text-align: center;
  color: limegreen;
}

#center{
  margin: 0 auto;
  width: 50%;
  border:thick solid limegreen;
  background-color: black;
  height: 450px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.button-container{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
}

#rock , #paper , #scissors{
  height: 50px;
  width: 80px;
  background: black;
  border:1px solid limegreen;
  color: limegreen;
  transition: .7s all;
  cursor: pointer;
}

#paper:hover, #rock:hover , #scissors:hover{
  color: black;
  box-shadow: inset 0 0 0 5em limegreen;
}

.scores-container{
  display: flex;
  Width: 100%;
  justify-content: space-around;
}

/************** MEDIA QUERIES **************/
@media only screen and (max-width : 1000px) {
  #center{
    width: 70%;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width : 750px) {
  #center{
    width: 80%;
  }
}

@media only screen and (max-width : 750px) {
  #center{
    width: 90%;
  }
}

@media only screen and (max-width : 750px) {
  #center{
    width: 95%;
  }
}

@media only screen and (max-width : 550px) {
  .button-container{
    width: 70%;
  }
}

@media only screen and (max-width : 550px) {
  .button-container{
    width: 80%;
  }
}

@media only screen and (max-width : 550px) {
  .button-container{
    width: 80%;
  }
}

@media only screen and (max-width : 350px) {
  .button-container{
    width: 90%;
  }

  #center{
    font-size: 1rem;
  }
}
